body {
    margin: 0;
    overflow: hidden;
    background-color: black;
}

#word-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    text-align: center;
    overflow: hidden;
}

.word {
    position: absolute;
    opacity: 0;
    animation: fadeInOut 3s ease-in-out forwards;
}

#center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Добавляем тень */
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
